@charset "utf-8";

.container{
  max-width: 1200px + 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include media(sm){
    padding-left: 10px;
    padding-right: 10px;
  }

  &--single{
    max-width: 1000px + 40px;
  }
  
  &.full-sm{
    @include media(sm){
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.bg-white{
  padding-top: 40px;
  padding-bottom: 40px;
  @include media(md){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include media(lg){
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.bg-secondary{
  @extend .bg-white;
  background-color: #f3f3f3;
}
