@charset "utf-8";

.link{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.link-default{
  color: inherit;
}

.tel,
.link-tel,
.button-tel{
  color: inherit;
  @include media(pc){
    pointer-events: none;
    cursor: text;
  }
}