@charset "utf-8";

.anchor{
  @include media(sm){
    padding-top:60px !important;
    margin-top:-60px !important;   
  }
  @include media(md-lg){
    padding-top:100px !important;
    margin-top:-100px !important;   
  }
}