@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-Light.woff') format('woff');
}

@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GenJyuuGothicL';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/GenJyuuGothicL-Heavy.woff') format('woff');
}

